---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  background-image: "images/beach.png";
  background-position: bottom right;
  background-position: fixed;
  padding:50px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#694489;
  margin:0 0 20px;
}

a {
  color:#71637D;
  text-decoration:none;
}
