---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  background-image: url("");
  background-position: right bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;

  padding:50px;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  line-height: 95%;
  font-weight:400;
}

h2, h3, h4, h5, h6 {
  color: #2B2B2B;
  margin:0 0 5px;
  line-height:0.5;
}

h1 {
  color: #597368;
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  line-height:0.4;
}

h2 {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
  color:#435D36;
  font-weight: bold;
}

em {
  color: #484D46;
}

b {
  color: #476A34;
}
